<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Materialize Minified -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>BalletBox</title>
  </head>
  <body>
    <%- include('partials/_header') %>

    <h3>This is from polls_new.ejs</h3>

    <%= id %> <%= name %> <%= description %> <%= code %> <%= creation_date %>
    <%= is_active %> <%= creator_id %>

    <main></main>
  </body>
</html>
