<!DOCTYPE html>
<html lang="en">
<!-- /vote/id -->


<head>
  <link rel="stylesheet" type="text/css" href="/styles/vote_screen.css"/>
  <link rel="stylesheet" type="text/css" href="/styles/header2.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <script src="http://SortableJS.github.io/Sortable/Sortable.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pineappoll</title>
</head>
<body class='vote-screen-body'>
  <%- include('partials/_header2') %>
  <p class='nickname-prompt'>Please Enter a Nickname!</p>
  <form class='submission-form' action='/votes/<%=pollCode%>' method='POST'>
    <textarea class='nickname-entry'name="nickname" placeholder=></textarea>
  <h4 class='poll-question'><%= question %></h4 class>
  <div class='poll-options'>
    <ul id="items">
      <% for(let i = 0; i < pollOptions.length; i++) { %>
        <li serial-order=<%= (i + 1) %> option-id='<%=optionIdArr[i]%>' class="draggable"><%= pollOptions[i]%></li>
      <% }; %>
    </ul>
  </div>
  <p class=rank-instructions>Drag and drop to rank the options!</p>
  <div class='vote-submit-div'>
    <button class="btn waves-effect waves-light vote-submit" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
</form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src= '/scripts/draggable_handler.js'></script>
</html>
